
<div class="someshit">
    <div ng-repeat="row in ctrl.rows track by $index" ng-class="">
        <ne-dropdown items="$parent.ctrl.SINGLEOPERATIONS" prop="text" model="row[0]" ng-hide="$index === 0"></ne-dropdown>
        <ne-dropdown items="$parent.ctrl.GENERAL" prop="text" model="row[1]"></ne-dropdown>
        <ne-dropdown items="$parent.ctrl.OPERATIONS" prop="text" model="row[2]"></ne-dropdown>
        <input type="text" ng-model="row[3]">

        <span ng-click="ctrl.addRow()">+</span>
        <span ng-click="ctrl.removeRow($index)" ng-hide="$last === true">-</span>
    </div>

</div>
